doctype html
head
  title Login/Signup
  // <link rel="stylesheet" type="text/css" href="slide navbar style.css">
  link(href='https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='loginRegisterFormStyle.css')
  link(rel="stylesheet", href="style.css")

.main
  input#chk(type='checkbox' aria-hidden='true')
  .signup
    form
      label(for='chk' aria-hidden='true') Sign up
      input#signup-firstName(type='text', name='firstName', placeholder='First name')
      input#signup-lastName(type='text', name='lastName', placeholder='Last name')
      input#signup-email(type='email', name='email', placeholder='Email')
      input#signup-pass(type='password', name='pswd', placeholder='Password')
      button#signup-btn(type='submit') Sign up
  .login
    form
      label(for='chk' aria-hidden='true') Login
      input#login-email(type='email' name='email' placeholder='you@example.com')
      input#login-pass(type='password' name='pswd' placeholder='********')
      button#login-btn(type='submit') Login
script(src='/js/bundle.js')
